/* debug */
.debug {
  border: 1px solid black;
  min-height: 200px;
  background-color: pink;
}

.debug [class*='col-'] {
  border: 1px solid black;
  min-height: 200px;
  position: relative;
}

.container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.debug:last-of-type > * {
  padding: 10px;
}

.container.debug:last-of-type [class*='col-']:not(.container.debug:last-of-type > .col-6) {
  border-color: #fff;
  text-align: center;
  background-color: #F07F80;
}

.container.debug:not(:last-of-type) {
  border-bottom: none;
}
/* /debug */
